.page-wrapper {
    display: flex;
    flex-direction: column;
    padding: 30px;
    box-sizing: border-box;

    & .page-header {
        font-size: 40px;
        margin-bottom: 30px;
    }

    & .code-blocks-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        column-gap: 20px;
    }
}